<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Thank You </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="card col-md-4 bg-white shadow-md p-5">

        <div class="text-center">

          <!-- <lottie-player class="mx-auto" src="https://assets3.lottiefiles.com/packages/lf20_gaxn5gzy.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player> -->
          
          <lottie-player class="mx-auto" src="https://assets8.lottiefiles.com/packages/lf20_lw4olqnf.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
          
          <h1> Thank You ! </h1>
          
          <p>
            You have successfully 
            <br>
            confirmed the Appointmemt
          </p>

        </div>
      </div>

      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  </body>

</html>